<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>

<div ng-controller="TodoController">
    <div ng-view></div>
</div>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/controllers.js"></script>
<script src="/javascripts/directives.js"></script>
<script src="/javascripts/services.js"></script>

</body>

</html>
