<div class="container">
    <div class="jumbotron">
        <h4 class="text-center">Todo List Test Application</h4>

        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a ng-click="showTodoFilter = undefined">All</a></li>
                    <li><a ng-click="showTodoFilter = {completed: false}">Unfinished</a></li>
                    <li><a ng-click="showTodoFilter = {completed: true}">Done</a></li>
                </ul>
            </div>

            <div class="col-sm-9">
                <form role="form">
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchTodoFilter">
                    <ul id="todo-list" class="list-unstyled">
                        <li class="todo-item" ng-repeat="todo in todos | filter:showTodoFilter | filter:searchTodoFilter ">
                            <input type="checkbox" ng-model="todo.completed" ng-change="updateTodo($index)">
                        <span class="completed-{{todo.completed}}">
                            <edit-in-place ng-enter="updateTodo($index)" value="todo.note"></edit-in-place>
                        </span>
                            <button type="button" class="close" aria-label="Close" ng-click="removeTodo($index)"><span aria-hidden="true">&times;</span></button>
                        </li>
                    </ul>
                    <input type="text" class="form-control" placeholder="Add todo task" ng-model="todoText" ng-enter="saveTodo()"/>
                </form>
            </div>
        </div>
    </div>
</div>
